body {
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	box-shadow: 0px 0px 20px 5px gray;
	font-family: "Trebuchet MS", sans-serif;
	margin: 0px 30px 0px 30px;
	min-width: 1200px;
	width: 95%;
}

.ui-loader {
	display: none;
}

/* Title Heading*/
.full-title {
	/*background: white;*/
	background-image: url("../img/claws.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: auto 150%;
	box-shadow: 0px 0px 10px 2px #003366 inset;
	/*border-right: 2px solid black;*/
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
	width: 100%;
}

.title {
	display: inline;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 20px;
}

.main-title-text {
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

.right {
	float: right;
	padding-right: 15px;
	text-align: right;
}

.current-season {
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: auto;
	margin-right: 0px;
	padding: 20px 15px 20px 0px;
}

#CurrentSeasonValue {
	display: inline;
}

/* Main Menu */
.menu {
	-webkit-user-select: none;
}

.main-menu {
	background-image: url("../img/menu_background.png");
	background-size: contain;
	/*border-right: 2px solid black;*/
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;	
	width: 100%;
}

.main-menu > li {
	color: white;
	cursor: -webkit-pointer;
	cursor: pointer;
	display: inline-block;
	font-family: "Trebuchet MS", sans-serif;
	margin: 0px 8px 0px 8px;
	padding: 2px 10px 2px 10px;
}

/* Sub Menus */
.sub-menu {
	background: white;
	border-bottom: 2px solid black;
	color: black;
	display: none;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 8px 0px;
	width: 100%;
}

.sub-menu > li {
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	color: black;
	cursor: -webkit-pointer;
	cursor: pointer;
	display: inline-block;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin: 0px 8px 0px 8px;
}

.filter-selection[on] {
	border-bottom: 3px solid black;
}

#DownloadFile {
	display: none;
}

#DownloadFileLink {
	color: black;
	text-decoration: none;
}

#upload {
	display: none;
}

#UploadLabel {
	cursor: -webkit-pointer;
	cursor: pointer;
	padding: 2px 10px 2px 10px;
}

#helpblock {
	background: white;
	border-bottom: 2px solid black;
	display: none;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 15px 15px;
}

.player.example {
	height: auto;
	padding: 2px 10px 2px 10px;
	width: auto;
}

.help-header {
	cursor: -webkit-pointer;
	cursor: pointer;
}

.help-header:before {
	content: "+ ";
}

.help-header[on]:before {
	content: "\2014  ";
}

.help-section > p:not(.help-header){
	display: none;
}

.help-content {
	display: none;
	width: 90%;
}

/* Table */
.table {
	width: 100%;
}

.table, .row {
	height: auto;
}

/* Rows */
.row {
	display: table;
	margin: 0 auto;
	width: 100%;
}

.position {
	height: 1px;
}

/* Manage row coloring of table */
.row:nth-of-type(odd) {
	background: #EFF2FB;
}

.row:nth-of-type(even) {
	background: white;
}

/* Header row */
.row.headers > .cell {
	font-size: 1.25em;
	max-width: 14.3%;
	overflow: hidden;
	vertical-align: middle;
}

.row.headers > .top-left {
	font-size: 1em;
}

.row.headers:first-child .total-value-header, .row.headers:first-child .target-value-header {
	font-size: 0.9em;
	padding: 7% 0% 7% 0%;
}

.row.headers:not(.yr-totals) {
	background: #EFF2FB;
}

.row.headers.yr-totals {
	background: white;
}

.fixed {
	border-bottom: 2px solid black;
	min-width: 1200px;
	position: fixed;
	top: 0px;
	width: 95%;
	z-index: 100;
}

/* Total value cells */
.total-value {
	color: darkblue;
	font-size: 1.25em;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
}

.inner-cell.total-value-header {
	padding: 4px 0px 4px 0px;
}

.inner-cell.target-value-header {
	padding: 0px 0px 0px 0px;
}

/* Cells */
.cell {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	display: table-cell;
	font-weight: bold;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
	width: 14.3%;
}

.players {
	color: white;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	padding: 0px 5px 20px 10px;
	vertical-align: top;
}

.cell.pos-head {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.4em;
	vertical-align: middle;
}

.cell.total {
	padding: 0px 0px 0px 0px;
}

/* Inner Cell - testing */
.cell-content {
	display: table;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}

.inner-cell {
	display: table-cell;
	font-size: 1.15em;
	padding: 0px 0px 0px 0px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 49%;
}

.inner-cell.left {
	border-right: 1px dashed black;
}

/* Player block */
.player {
	background-color: white;
	border: 3px solid black;
	border-radius: 4px;
	box-shadow: 4px 4px 2px gray;
	color: black;
	cursor: -webkit-pointer;
	cursor: pointer;
	display: inline-block;
	font-size: 0.9em;
	margin: 10px 0px 0px 0px;
	padding: 2% 3px 2% 3px;
	position: relative;
	text-align: center;
	width: 80%;
}

.player[leaving] {
	border: medium solid #a8a8a8;
	color: #a8a8a8;
}

.player#moving-mobile {
	background-color: black;
	color: white;
}

/* Shirt image */
.rs-img {
	display: inline-block;
	height: 20px;
	min-height: 19px;
	width: 24px;
	/*height: 80%;*/
}

.incoming > .player > .rs-img {
	display: none;
}

.player[used-rs] > .rs-img, .player[leaving] > .rs-img {
	display: none;
}

.player[rs] > .rs-img {
	background: red;
}

.incoming > .player[gs] > .rs-img, .player.example[gs] > .rs-img {
	background: gray;
	display: inline-block;
}

.rs-img > img {
	/*height: 20px;
	min-height: 19px;*/
	height: 100%;
	width: 100%;
	vertical-align: top;
}

.player > img {
	display: inline-block;
	height: 20px;
	min-height: 19px;
	vertical-align: top;
}

.add-player {
	border: medium solid blue;
	cursor: -webkit-pointer;
	cursor: pointer;
	display: none;
}

.add-player > input {
	width: 90%;
}

/* Enable draggable */
[draggable] {
	user-select: none;
}

/* Disclaimer at bottom of page */
.disclaimer {
	/*border: medium solid black;*/
	background-color: #1C1C1C;
	border-top: 2px solid black;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	color: white;
	margin: 0px 0px 0px 0px;
	min-width: 1200px;
	padding: 2% 0% 2% 0%;
	text-align: center;
	width: 100%;
}
